@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: "New Amsterdam", serif;
  font-weight: "400";
  font-style: normal;
}

h2 {
  font-family: "New Amsterdam", serif;
  font-weight: "400";
  font-style: normal;
}
